@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

:root {
    --dark-cyan: hsl(184, 100%, 22%);
    --very-light-gray: hsl(0, 0%, 95%);
    --bright-orange: hsl(31, 77%, 52%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
}

body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-card {
    width: 200px;
    height: 320px;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.container-card p:nth-child(2) {
    margin: 20px 0;
    font-size: 30px;
    color: var(--very-light-gray);
    font-family: 'Big Shoulders Display', cursive;
}

.container-card p:nth-child(3) {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
    color: var(--transparent-white);
    font-family: 'Lexend Deca', sans-serif;
}

.container-card button {
    border: none;
    width: 125px;
    height: 40px;
    outline: none;
    cursor: pointer;
    margin-top: 70px;
    border-radius: 20px;
    font-family: 'Lexend Deca', sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card-1 {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--bright-orange);
}

.card-2 {
    background-color: var(--dark-cyan);

}

.card-3 {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--very-dark-cyan);
}


.card-1 button {
    color: var(--bright-orange);
}

.card-2 button {
    color: var(--dark-cyan);
}

.card-3 button {
    color: var(--very-dark-cyan);
}

.card-1 button:hover {
    transition: .3s;
    background-color: #CC7B23;
    color: var(--transparent-white);
    border: 3px solid var(--transparent-white);
}

.card-2 button:hover {
    transition: .3s;
    background-color: #034F54;
    color: var(--transparent-white);
    border: 3px solid var(--transparent-white);
}

.card-3 button:hover {
    transition: .3s;
    background-color: #013534;
    color: var(--transparent-white);
    border: 3px solid var(--transparent-white);
}



@media (max-width: 840px)
{
    .container {
        margin-top: 270px;
        flex-direction: column;
        margin-bottom: 230px;
    }

    .container-card {
        box-shadow: none;
    }

    .container-card button {
        margin-top: 20px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .card-1 {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }

    .card-3 {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        margin-bottom: 50px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }
    
   
    
}
